Project.sln
Project.csproj
bin/Debug/net8.0/Project.dll
bin/Debug/net8.0/Project.deps.json
bin/Debug/net8.0/Project.exe
bin/Debug/net8.0/Project.pdb
bin/Debug/net8.0/Project.runtimeconfig.json
obj/project.assets.json
obj/Project.csproj.nuget.dgspec.json
obj/Project.csproj.nuget.g.props
obj/Project.csproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/project.nuget.cache
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Project.AssemblyInfo.cs
obj/Debug/net8.0/Project.AssemblyInfoInputs.cache
obj/Debug/net8.0/Project.assets.cache
obj/Debug/net8.0/Project.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/Project.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Project.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Project.dll
obj/Debug/net8.0/Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Project.genruntimeconfig.cache
obj/Debug/net8.0/Project.GlobalUsings.g.cs
obj/Debug/net8.0/Project.pdb
obj/Debug/net8.0/ref/Project.dll
obj/Debug/net8.0/refint/Project.dll
obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0/Project.AssemblyInfo.cs
obj/Release/net8.0/Project.AssemblyInfoInputs.cache
obj/Release/net8.0/Project.assets.cache
obj/Release/net8.0/Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/Project.GlobalUsings.g.cs
obj/Debug/net8.0/Project.sourcelink.json
documentation.pdf
report.md
